.swiper-screen {
  display: flex;
  height: 100%;
  max-width: 100%; //Иначе плохо свайперу
}
:deep(.swiper-slide) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100% !important; //Иначе плохо свайперу
  max-width: 100%;
}
:deep(.swiper-wrapper) {
  width: 100%;
}
:deep(.swiper) {
  display: flex;
  --swiper-navigation-sides-offset: calc(1vmax);
  --swiper-pagination-bottom: 0px;
}