.swiper-screen-container {
  display: flex;
  height: 100%;
  width: 100%;
}
//:deep(.swiper-slide) {
//  display: flex;
//  justify-content: center;
//  align-items: flex-end;
//}
//
//:deep(.swiper) {
//  display: flex;
//  justify-content: center;
//  align-items: center;
//}
//:deep(.swiper-wrapper) {
//  max-height: 550px;
//}