.swiper-screen-container {
  display: flex;
  height: 100%;
}
:deep(.swiper-slide) {
  display: flex;
  justify-content: center;
  align-items: center;
}

:deep(.swiper) {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}