.card-image__img {
  width: 100%;
}
.card-image__figure {
  text-align: center;
}
.card-text-audio-containers {
  right: 50%;
  top: 50%;
}
.card {
  max-width: 100%;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  display: flex;
  border: 25px solid #40c4c8;
  border-image: url("/assets/images/css_border-image-1.png") 29 / 25px round;
}
.card-caption {
  text-align: center;
}
.card-text {
  text-align: center;
}
.card-audio {
  align-self: center;

  &__associated-audio {
    max-width: 100%;
  }
}
.card-image {
  align-self: center;
  width: 70%;
}

