.card {
  width: 50%;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  display: flex;
  border: 25px inset #FFB54D;
  border-radius: 70px;
  background: #FFD79D;

  &__caption {
    text-align: center;
  }

  &__text {
    text-align: center;
  }

  &__item {
    & + & {
      margin-top: 25px;
    }
  }
}
.card-audio {
  align-self: center;

  &__associated-audio {
    max-width: 100%;
  }
}
.card-image {
  align-self: center;
  width: 70%;

  &__img {
    width: 100%;
    display: block;
  }
}
.card-footer {
  display: flex;
  justify-content: space-between;
  &__created-at {
    text-align: end;
  }
}
