.card {
  max-height: 80%;
  max-width: 80%;
  width: 70%;
  flex-direction: column;
  padding: 20px;
  justify-content: space-between;
  display: flex;
  border: 25px inset #FFB54D;
  border-radius: 70px;
  background: #FFD79D;

  &__caption {
    text-align: center;
  }

  &__text {
    text-align: center;
  }
}

.card-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.card-column-item {

  & + & {
    margin-top: 25px;
  }
}

:deep(.card-image__caption) {
  display: flex;
  text-align: center;
}

.card-audio {
  align-self: center;

  &__associated-audio {
    max-width: 100%;
  }
}

.card-image {
  display: flex;
  align-self: center;
  flex-direction: column;
  max-width: 70%;
  max-height: 70%;
  justify-content: center;

  &__caption {
    text-align: center;
  }
}

:deep(.card-image__img) {
  width: 100%;
  display: block;
}

.card-footer {
  display: flex;
  justify-content: space-between;

  &__created-at {
    text-align: end;
  }
}
