.first-screen-text {
  display: flex;
  flex-direction: column;
  max-width: 50vw;
  align-self: center;
}
.first-screen-text__text-item {
  text-align: center;
  margin-top: 25px;
  font-weight: 1000;
  font-size: 0.5cm;
}
.first-screen-text__upper {

}
.first-screen-text__medium {

}
.first-screen-text__bottom {

}
